@charset "UTF-8";
*, ::after, ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  font-family: "Roboto";
}

.all-content {
  width: 100%;
}

header nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  position: relative;
  background-color: #f1f1f1;
}
header nav img {
  width: 192px;
  padding: 16px;
}
header .localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 16px;
  text-align: center;
  background: #EAEAEA;
}
header .localisation img {
  width: 12px;
  margin-right: 17px;
}
header section {
  background: #F7F7F7;
  text-align: center;
  padding: 25px;
}
header section .title-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header section .title-container h1 {
  text-align: center;
  width: 70%;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 10px;
}
header section p {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}
header section button {
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #f1f1f1;
  border-radius: 25px;
  border: none;
  padding: 15px 19px;
  margin-top: 30px;
  margin-bottom: 40px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition: 0.4s;
  cursor: pointer;
}
header section button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

main .operation {
  width: 100%;
  background: #ffffff;
}
main .operation h2 {
  padding-top: 48px;
  margin-bottom: 26px;
  padding-left: 20px;
}
main .operation .container-button-operation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .operation .container-button-operation button {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 25px;
  background: #F7F7F7;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  border: none;
  padding: 28px;
  width: 80%;
  cursor: pointer;
}
main .operation .container-button-operation button img {
  margin-right: 27px;
}
main .operation .container-button-operation button div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -12px;
  background: #9356DC;
  font-weight: 500;
  font-size: 14.1818px;
  line-height: 17px;
  color: #ffffff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
main .operation .container-button-operation .last-btn-operation {
  margin-bottom: 70px;
}
main .operation .container-button-operation button:hover .color-logo-operation {
  display: block;
}
main .operation .container-button-operation button:hover .grey-logo-operation {
  display: none;
}
main .operation .container-button-operation button:hover {
  transition: 0.4s;
  background: #F5EDFF;
}
main .operation .mobile {
  width: 13px;
}
main .operation .store {
  width: 18px;
}
main .operation .list-ul {
  width: 16px;
}
main .operation .color-logo-operation {
  display: none;
}
main .restaurants-section {
  background: #F7F7F7;
}
main .restaurants-section h2 {
  padding-top: 54px;
  margin-bottom: 26px;
  margin-left: 20px;
}
main .restaurants-section .restaurants-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .restaurants-section .restaurants-container :nth-child(4) {
  margin-bottom: 64px;
}
main .restaurants-section .restaurant-card {
  width: 90%;
  max-height: 261px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background: #ffffff;
  position: relative;
  margin-bottom: 18px;
}
main .restaurants-section .restaurant-card .new-restaurant {
  background: #99E2D0;
  color: #008766;
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 6px 12px;
}
main .restaurants-section .restaurant-card a {
  text-decoration: none;
  color: #000000;
}
main .restaurants-section .restaurant-card h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin-top: 16px;
  margin-left: 13px;
  margin-bottom: 5px;
}
main .restaurants-section .restaurant-card p {
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  margin-left: 13px;
  margin-bottom: 25px;
}
main .restaurants-section .restaurant-card .restaurant-pic {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
main .restaurants-section .restaurant-card .container-heart {
  position: absolute;
  right: 15px;
  bottom: 40px;
  width: 21px;
  height: 21px;
  z-index: 100;
}
main .restaurants-section .restaurant-card .logo-heart-strokes {
  width: 21px;
  cursor: pointer;
}
main .restaurants-section .restaurant-card .logo-heart-fill {
  cursor: pointer;
  width: 21px;
  display: none;
  animation: flip 0.4s ease-in-out;
}
main .restaurants-section .restaurant-card .container-heart:hover .logo-heart-fill {
  display: block;
}
main .restaurants-section .restaurant-card .container-heart:hover .logo-heart-strokes {
  display: none;
}

footer {
  background: #353535;
  padding: 22px 25px;
}
footer .ohmyfood-logo-footer {
  margin-bottom: 16px;
  width: 106px;
}
footer ul {
  list-style-type: none;
}
footer ul li {
  margin-bottom: 7px;
}
footer ul li img {
  width: 13px;
  margin-right: 9px;
}
footer ul .footer-li-smaller {
  font-weight: 400;
}
footer ul :nth-child(2) img {
  width: 14px;
}
footer a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

header .arrow-nav {
  position: absolute;
  width: 55px;
  left: 0;
  top: 2px;
  margin: 0;
  cursor: pointer;
}
header .banner {
  width: 100%;
}
header .banner img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 270px;
}

main {
  position: relative;
  background-color: #008766;
  background: #F7F7F7;
}
main .container-backgroung-top {
  height: 40px;
  width: 100%;
  position: absolute;
  top: -40px;
  background: #F7F7F7;
  border-radius: 40px 40px 0px 0px;
}
main h1 {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
  line-height: 41px;
}
main .menu-container {
  background: #F7F7F7;
  width: 100%;
  border-radius: 40px 40px 0px 0px;
  padding: 0px 13px;
}
main .menu-container .container-title-restaurant {
  position: relative;
}
main .menu-container .menu:hover .green-bar {
  width: 85px;
}
main .menu-container .container-heart {
  position: absolute;
  top: 10px;
  right: 30px;
}
main .menu-container .container-heart img {
  width: 23px;
}
main .menu-container .container-heart .logo-heart-fill {
  display: none;
  animation: flip 0.4s ease-in-out;
}
main .menu-container .container-heart:hover .logo-heart-strokes {
  display: none;
}
main .menu-container .container-heart:hover .logo-heart-fill {
  display: block;
}
main .menu-container h2 {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: 40px;
}
main .menu-container .green-bar {
  height: 3px;
  width: 40px;
  transition: width 0.4s ease-in-out;
  background-color: #99E2D0;
}
main .menu-container .card-menu {
  width: 100%;
  height: 69px;
  background: #FFFFFF;
  border-radius: 15px;
  margin-top: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
main .menu-container .card-menu .info-menu {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  margin-right: 15px;
  padding: 12px;
  position: relative;
}
main .menu-container .card-menu .info-menu h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  max-width: 270px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: max-width 0.4s ease-in-out;
}
main .menu-container .card-menu .info-menu h4 {
  position: absolute;
  right: 0px;
  bottom: 15px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}
main .menu-container .card-menu .info-menu p {
  font-weight: 300;
  max-width: 260px;
  font-size: 15px;
  line-height: 23px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: max-width 0.4s ease-in-out;
}
main .menu-container .card-menu .animation-check {
  height: 100%;
  width: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  background-color: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  transition: width 0.4s ease-in-out;
}
main .menu-container .card-menu .animation-check .container-check-logo {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: rotationIn 0.4s linear;
}
main .menu-container .card-menu .animation-check .container-check-logo img {
  width: 0px;
  transition: width 0.4s ease-in;
}
main .menu-container .card-menu:hover .animation-check {
  width: 25%;
}
main .menu-container .card-menu:hover .animation-check img {
  width: 16px;
}
main .menu-container .card-menu:hover .container-check-logo {
  animation: rotationOut 0.4s linear;
}
main .menu-container .card-menu:hover p {
  max-width: 220px;
}
main .menu-container .card-menu:hover h3 {
  max-width: 220px;
}
main .menu-container .container-btn-order {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .menu-container .container-btn-order button {
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #f1f1f1;
  border-radius: 25px;
  border: none;
  padding: 13px 45px;
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  transition: 0.4s;
  cursor: pointer;
}
main .menu-container .container-btn-order button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

@media screen and (min-width: 1280px) {
  header section .title-container h1 {
    font-size: 40px;
  }
  header .banner img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 413px;
  }
  main .operation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  main .operation h2 {
    width: 60%;
  }
  main .operation .container-button-operation {
    flex-direction: row;
    width: 60%;
  }
  main .operation .container-button-operation button {
    max-width: 322px;
    max-height: 72px;
    margin-right: 36px;
    padding: 25px;
    margin-bottom: 80px;
  }
  main .restaurants-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  main .restaurants-section h2 {
    width: 60%;
  }
  main .restaurants-section .restaurants-container {
    flex-direction: row;
    width: 60%;
  }
  main .restaurants-section .restaurants-container .restaurant-card {
    flex: 30%;
    margin-right: 15px;
    margin-bottom: 50px;
  }
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
  }
  footer .ohmyfood-logo-footer {
    width: 131px;
    margin-left: 31px;
    margin-bottom: 3px;
  }
  footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer ul li {
    margin-right: 40px;
  }
  main .all-menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #ffffff;
  }
  main .container-backgroung-top {
    width: 70%;
  }
  main .menu-container {
    width: 70%;
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  main .menu-container .container-title-restaurant .container-heart {
    right: -40px;
  }
  main .menu-container .menu {
    width: 70%;
  }
  main .menu-container .menu .card-menu h3 {
    text-overflow: clip;
    overflow: visible;
  }
  main .menu-container .menu .card-menu p {
    text-overflow: clip;
    overflow: visible;
  }
  main .menu-container .card-menu:hover .animation-check {
    width: 10%;
  }
}
@keyframes rotationOut {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes rotationIn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes flip {
  0% {
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    animation-timing-function: ease-out;
  }
  40% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    animation-timing-function: ease-out;
  }
  50% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    animation-timing-function: ease-in;
  }
  80% {
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    animation-timing-function: ease-in;
  }
  100% {
    transform: perspective(400px);
    animation-timing-function: ease-in;
  }
}
.loader {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c779d0;
  animation: Loader 2.4s both;
  position: fixed;
  z-index: 10000;
  opacity: 1;
}

.circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 3px solid #f1f1f1;
  animation: 1s linear infinite alternate boxMagic, 4s linear infinite tourne;
  padding-top: 270px;
  position: relative;
}

.logo-loader-utensils {
  width: 50px;
  position: absolute;
  top: 30%;
  left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%);
}

.logo-loader-ohmyfood {
  width: 110px;
  position: absolute;
  top: 75%;
  left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%);
}

.dots-container {
  width: 90px;
  position: absolute;
  top: 60%;
  left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot1, .dot2, .dot3 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #000000;
  margin: 8px;
  animation: dotJump infinite 0.4s alternate;
}

.delay1 {
  animation-delay: 0.1s;
}

.delay2 {
  animation-delay: 0.2s;
}

@keyframes dotJump {
  100% {
    transform: translateY(-15px);
  }
}
@keyframes boxMagic {
  from {
    box-shadow: 0 0 0 #feac5e, 0 0 0 #9356DC, 0 0 0 #4bc0c8, 0 0 0 #42bd75;
  }
  to {
    box-shadow: 0 -10px 0 #feac5e, -10px 0 0 #9356DC, 0 10px 0 #4bc0c8, 10px 0 0 #42bd75;
  }
}
@keyframes Loader {
  0% {
    opacity: 1;
  }
  100% {
    z-index: -1;
  }
}/*# sourceMappingURL=style.css.map */