$Primary:  #9356DC;
$Secondary:#003A68;
$Lite-blue:#89C8FA;
$Dark-green: #008766;
$Lite-green:#99E2D0;


@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin box-shadow {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
@mixin box-shadow-btn {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
@mixin box-shadow-operation {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
@mixin gradient-purple {
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
}
@mixin gradient-purple-hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);

} 

// @font-face {
//     font-family: "Roboto";
//     src: url('/font/Roboto-Regular.ttf');
//   }

*,::after,::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    min-height: 100vh;
    min-width: 100vw;
    font-family:'Roboto' ;
  }
  .all-content{
    width: 100%;
  }
//   Navigation-bar
  header {

  nav{
    width:100%;
    @include flex-center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    position: relative;
   
   img{
      width: 192px;
      padding: 16px;
      
   }
  }

    .localisation{
    @include flex-center; 
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 16px;
    text-align: center;
    background: #EAEAEA;
   
    img{
        width: 12px;
        margin-right: 17px;
    }
    }
    section{
      background: #F7F7F7;
      text-align: center;
      padding: 25px;
      .title-container{
        width: 100%;
        @include flex-center();
        h1{
          text-align: center;
          width: 70%;
          font-weight: 700;
          font-size: 24px;
          line-height: 28px;
         
          padding-bottom: 10px;
        }
      }
      p{
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
      }
      button{
         @include gradient-purple;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #f1f1f1;
        border-radius: 25px;
        border: none;
        padding: 15px 19px;
        margin-top: 30px;
        margin-bottom: 40px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        transition: 0.4s;
        cursor: pointer; 
      }
      button:hover{
     @include gradient-purple-hover;
      }
    }
  }

  main{
    .operation{
      width: 100%;
      background: #ffffff;
      h2{
        margin-top: 48px;
        margin-bottom:26px;
        padding-left: 20px 
      }
      .container-button-operation{
       @include flex-center();
        flex-direction: column;
       
      
        
       
        button{
          @include flex-center;
          justify-content: flex-start;
          position: relative;
          margin-bottom: 25px;
          background: #F7F7F7;
          border-radius: 20px;
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          border: none;
          padding: 28px;
          width: 80%;
          
          cursor: pointer;
          
          img{
            margin-right: 27px;            
            
          }
          
          div{
            @include flex-center;
            position: absolute;
            left: -12px;
            background:$Primary ;
            font-weight: 500;
            font-size: 14.1818px;
            line-height: 17px;
            color: #ffffff;
            width:24px ;
            height: 24px;
            border-radius: 50%;

          }
        }
        .last-btn-operation{
          margin-bottom: 70px;
        }
       
        button:hover .color-logo-operation{
          display: block;
        
       }
       button:hover .grey-logo-operation{
          display: none;
       }
       button:hover{
        transition: 0.4s;
        background: #F5EDFF;
       }                        
      }
      // .container-button-operation :nth-child(3){
      //  margin-bottom: 68px;
      // }
      .mobile{
        width: 13px;
      }
      .store{
        width: 18px;
      }
      .list-ul{
        width:16px;
      }
      .color-logo-operation{
        display: none;
      }
    }
    
    .restaurants-section{
      background:#F7F7F7;
     
      h2{
        padding-top: 54px;
        
        margin-bottom: 26px;
        margin-left: 20px;
      }
      .restaurants-container{
        width: 100%;
        @include flex-center;
        flex-direction: column;
     
        
        
      }
      .restaurants-container :nth-child(4){
        margin-bottom: 64px;
      }
      .restaurant-card{
        width: 90%;
        max-height: 261px;
        @include box-shadow;
        border-radius: 15px;
        background: #ffffff;
        position: relative;
        margin-bottom:18px ;
        
        .new-restaurant{
          background:$Lite-green;
          color: $Dark-green;
          position: absolute;
          right: 15px;
          top:15px;
          padding: 6px 12px;
        }

        a{
          text-decoration: none;
          color:  #000000 ;
        }
        h3{
          font-weight: 700;
          font-size: 18px;
         line-height: 21px;
         margin-top: 16px;
         margin-left: 13px;
         margin-bottom: 5px;
        }
        p{
          font-weight: 300;
          font-size: 17px;
          line-height: 20px;
          margin-left: 13px;
          margin-bottom: 25px;
        }
        .restaurant-pic{
          width: 100%;
          height: 180px;
          object-fit: cover;
          border-radius: 15px 15px 0 0 ;
        }
        .container-heart{
          position: absolute;
          right: 15px;
          bottom: 40px;
          width: 21px;
          height: 21px;
          z-index: 100;
        }
        .logo-heart-strokes{
          width: 21px;
          cursor: pointer;
        }
       
         .logo-heart-fill{
          cursor: pointer;
         width: 21px;
          display: none;
          animation: flip 0.4s ease-in-out;
          
        }
        .container-heart:hover .logo-heart-fill{
          
          display: block;
        }
        .container-heart:hover .logo-heart-strokes{
          display: none;
        }
       
      }
      
 
    }
  }
  footer{
    background: #353535;
    padding: 22px 25px ;
     
    
    .ohmyfood-logo-footer{
      margin-bottom: 16px;
      width: 106px;
    }
    ul{
      list-style-type: none;
      li{
        margin-bottom: 7px;
      
        img{
          width:13px ;
          margin-right: 9px;
        }
      }
    }
    ul :nth-child(2) img {
      width: 14px;
    }
    a{
     text-decoration: none;
     color:#ffffff ;
     font-weight: 500;
     font-size: 16px;
     line-height: 19px;
    }
  }
  // @keyframes fondu {
  //   from { 
  //     opacity: 0;
  //     transform: scaleX(0) 
  //   }
  //   to   { 
  //     opacity: 1;
  //     transform: scaleX(1) 
  //   }
  // }





  //  Pages
  
  header{
    .arrow-nav{
      position: absolute;
      width: 55px;
      left: 0;
      top:2px;
      margin: 0;
      cursor: pointer;
     }
     .banner{
      width: 100%;
      img{
      width: 100%;
      object-fit: cover;
      height: 270px;
      }
     }
  }
 main{
  position: relative;
  background-color: #008766;
  background: #F7F7F7;
 .container-backgroung-top{
  height: 40px;
  width: 100%;
 
  position: absolute;
  top: -40px;
  background: #F7F7F7;
  border-radius: 40px 40px 0px 0px;
 }
  h1{
    font-family: 'Shrikhand';
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
    line-height: 41px;
  }

  .menu-container{
   
    background: #F7F7F7;
    width: 100%;
    
   
    border-radius: 40px 40px 0px 0px;
    // top:-55px;
    padding: 0px 13px;
    .menu:hover .green-bar{
      width:85px
     }
     .container-heart{
      position: absolute;
      top:10px;
      right: 40px;
      img{
        width:23px;
      }
      .logo-heart-fill{
        display:none;
        animation: flip  0.4s ease-in-out;
      }
      
     }
     .container-heart:hover{
      .logo-heart-strokes{
        display: none;
      }
      .logo-heart-fill{
        display: block;
      }
     }
    h2{
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;
      margin-bottom: 5px;
      margin-top: 40px;
    }
    .green-bar{
      height: 3px;
      width:40px;
      transition: width 0.4s ease-in-out;
      background-color: $Lite-green;
    }
    .card-menu{
      width: 100%;
      height: 69px;
      background:  #FFFFFF;;
      border-radius: 15px;
      margin-top: 12px;
      @include box-shadow;
      @include flex-center;
      overflow: hidden; 
      .info-menu{
        height: 100%;
        width: 100%;
        border-radius:15px ;
        margin-right: 15px;
        padding: 12px;
        position: relative;
        h3{
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
          max-width: 270px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          transition: max-width 0.4s ease-in-out;
        }
        h4{
          position: absolute;
          right:0px ;
          bottom:15px;
         
          font-weight: 700;
          font-size: 15px;
          line-height: 18px;
         
          
        }
        p{
          font-weight: 300;
           max-width: 260px;
          font-size: 15px;
          line-height: 23px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          transition: max-width 0.4s ease-in-out;
        }
      }
      .animation-check{
        height: 100%;
        width: 0%;
        @include flex-center;
        justify-content: center;
        background-color: $Lite-green;
        border-radius:0px 15px 15px 0px;
        transition: width 0.4s ease-in-out;
        .container-check-logo{
          background-color: #ffffff;
          @include flex-center();
          width: 20px;
          height: 20px;
          border-radius: 50%;
          animation:rotationIn 0.4s linear ;
          img{
            width: 0px;
            transition: width 0.4s ease-in;
          }

        }
      }  
    }
    .card-menu:hover .animation-check{
          width:25%;
         img{
          width: 16px;
          }
    }
    .card-menu:hover  .container-check-logo{
      animation:rotationOut 0.4s linear ;
    }
    .card-menu:hover  p{
      max-width: 220px;
    
    }
    .card-menu:hover  h3{
      max-width: 220px;
    
    }
    .container-btn-order{
      width: 100%;
      @include flex-center();
      button{
        @include gradient-purple;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #f1f1f1;
            border-radius: 25px;
            border: none;
            padding: 13px 45px;
            margin-top: 40px;
            margin-bottom: 40px;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
            transition: 0.4s;
            cursor: pointer; 
      }
      button:hover{
          @include gradient-purple-hover();

      }
    }
  }
    
 }



 @media screen and (min-width: 992px) {
   main{
    .operation{
      h2{
        width: 75%
      }
      @include flex-center;
      flex-wrap: wrap;
      .container-button-operation{
        flex-direction: row;
        width: 70%;
        button{
          width: 33%;
          margin-right: 36px;
          padding: 25px;
          margin-bottom: 80px;
      
         
        }
        
      }
    }
    .restaurants-section{
      h2{
        width:75%;

      }
      @include flex-center();
      flex-wrap: wrap;
      .restaurants-container{
        flex-direction: row;
        width: 90%;
        .restaurant-card{
       flex: 30%;
       margin-right: 15px;
       margin-bottom: 50px;
        }
      }
    }
   }
  
    
 }

 

 @keyframes rotationOut {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
 @keyframes rotationIn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


    @keyframes flip {
    0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    }
    40% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    }
    50% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    }
    80% {
    -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
    transform: perspective(400px) scale3d(.95, .95, .95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    }
    100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    }
    }
