$Primary:  #9356DC;
$Secondary:#003A68;
$Lite-blue:#89C8FA;
$Dark-green: #008766;
$Lite-green:#99E2D0;


@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin box-shadow {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
@mixin box-shadow-btn {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
@mixin box-shadow-operation {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
@mixin gradient-purple {
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
}
@mixin gradient-purple-hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);

} 

// @font-face {
//     font-family: "Roboto";
//     src: url('/font/Roboto-Regular.ttf');
//   }

*,::after,::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    min-height: 100vh;
    min-width: 100vw;
    font-family:'Roboto' ;
  }
  .all-content{
    width: 100%;
  }
//   Navigation-bar
  header {

  nav{
    width:100%;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
   
   img{
      width: 162px;
      padding: 14px;
   }
  }

    .localisation{
    @include flex-center; 
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 16px;
    text-align: center;
    background: #EAEAEA;
    img{
        width: 12px;
        margin-right: 17px;
    }
    }
    section{
      background: #F7F7F7;
      text-align: center;
      padding: 25px;
      h1{
        text-align: center;
        font-weight: 700;
        
        font-size: 24px;
        line-height: 28px;
      }
      p{
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
      }
      button{
        @include gradient-purple;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #f1f1f1;
        border-radius: 25px;
        border: none;
        padding: 13px;
        margin-top: 30px;
        margin-bottom: 40px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        cursor: pointer; 
      }
      button:hover{
        @include gradient-purple-hover;
      }
    }
  }

  main{
    .operation{
      width: 100%;
      h2{
        margin-top: 48px;
        margin-bottom:26px;
        padding-left: 20px 
      }
      .container-button-operation{
        @include flex-center;
        flex-direction: column;
      
        
       
        button{
          @include flex-center;
          justify-content: flex-start;
          position: relative;
          margin-bottom: 25px;
          background: #F7F7F7;
          border-radius: 20px;
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          border: none;
          padding: 28px;
          width: 80%;
          
          cursor: pointer;
          
          img{
            margin-right: 27px;            
            
          }
          
          div{
            @include flex-center;
            position: absolute;
            left: -12px;
            background:$Primary ;
            font-weight: 500;
            font-size: 14.1818px;
            line-height: 17px;
            color: #ffffff;
            width:24px ;
            height: 24px;
            border-radius: 50%;

          }
        }
       
        button:hover .color-logo-operation{
          display: block;
        
       }
       button:hover .grey-logo-operation{
          display: none;
       }
       button:hover{
        transition: 0.4s;
        background: #F5EDFF;
       }                        
      }
      .mobile{
        width: 13px;
      }
      .store{
        width: 18px;
      }
      .list-ul{
        width:16px;
      }
      .color-logo-operation{
        display: none;
      }
    }
    
    .restaurants-section{
      background:#F7F7F7;
      margin-top: 50px;
      h2{
        padding-top: 54px;
        
        margin-bottom: 26px;
        margin-left: 20px;
      }
      .restaurants-container{
        width: 100%;
        @include flex-center;
        flex-direction: column;
     
        
        
      }
      .restaurant-card{
        width: 90%;
        max-height: 261px;
        @include box-shadow;
        border-radius: 15px;
        background: #ffffff;
        position: relative;
        margin-bottom:18px ;

        a{
          text-decoration: none;
          color:  #000000 ;
        }
        h3{
          font-weight: 700;
          font-size: 18px;
         line-height: 21px;
         margin-top: 16px;
         margin-left: 13px;
         margin-bottom: 5px;
        }
        p{
          font-weight: 300;
          font-size: 17px;
          line-height: 20px;
          margin-left: 13px;
          margin-bottom: 25px;
        }
        .restaurant-pic{
          width: 100%;
          height: 180px;
          object-fit: cover;
          border-radius: 15px 15px 0 0 ;
        }
        .container-heart{
          position: absolute;
          right: 15px;
          bottom: 35px;
          width: 21px;
          height: 21px;
          z-index: 100;
        }
        .logo-heart-strokes{
          width: 21px;
          cursor: pointer;
        }
       
         .logo-heart-fill{
          cursor: pointer;
         width: 21px;
          display: none;
          
        }
        .container-heart:hover .logo-heart-fill{
          
          display: block;
        }
        .container-heart:hover .logo-heart-strokes{
          display: none;
        }
       
      }
      
 
    }
  }
  footer{
    background: #353535;
    padding: 22px 25px ;
    .ohmyfood-logo-footer{
      margin-bottom: 16px;
      width: 110px;
    }
    ul{
      list-style-type: none;
      li{
        margin-bottom: 7px;
      
        img{
          width:13px ;
          margin-right: 9px;
        }
      }
    }
    a{
     text-decoration: none;
     color:#ffffff ;
     font-weight: 500;
     font-size: 16px;
     line-height: 19px;
    }
  }
  
