*, ::after, ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  font-family: "Roboto";
}

.all-content {
  width: 100%;
}

header nav {
  width: 100%;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
header nav img {
  width: 162px;
  padding: 14px;
}
header .localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 16px;
  text-align: center;
  background: #EAEAEA;
}
header .localisation img {
  width: 12px;
  margin-right: 17px;
}
header section {
  background: #F7F7F7;
  text-align: center;
  padding: 25px;
}
header section h1 {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
header section p {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}
header section button {
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #f1f1f1;
  border-radius: 25px;
  border: none;
  padding: 13px;
  margin-top: 30px;
  margin-bottom: 40px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
header section button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
}

main .operation {
  width: 100%;
}
main .operation h2 {
  margin-top: 48px;
  margin-bottom: 26px;
  padding-left: 20px;
}
main .operation .container-button-operation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .operation .container-button-operation button {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 25px;
  background: #F7F7F7;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  border: none;
  padding: 28px;
  width: 80%;
  cursor: pointer;
}
main .operation .container-button-operation button img {
  margin-right: 27px;
}
main .operation .container-button-operation button div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -12px;
  background: #9356DC;
  font-weight: 500;
  font-size: 14.1818px;
  line-height: 17px;
  color: #ffffff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
main .operation .container-button-operation button:hover .color-logo-operation {
  display: block;
}
main .operation .container-button-operation button:hover .grey-logo-operation {
  display: none;
}
main .operation .container-button-operation button:hover {
  transition: 0.4s;
  background: #F5EDFF;
}
main .operation .mobile {
  width: 13px;
}
main .operation .store {
  width: 18px;
}
main .operation .list-ul {
  width: 16px;
}
main .operation .color-logo-operation {
  display: none;
}
main .restaurants-section {
  background: #F7F7F7;
  margin-top: 50px;
}
main .restaurants-section h2 {
  padding-top: 54px;
  margin-bottom: 26px;
  margin-left: 20px;
}
main .restaurants-section .restaurants-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .restaurants-section .restaurant-card {
  width: 90%;
  max-height: 261px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background: #ffffff;
  position: relative;
  margin-bottom: 18px;
}
main .restaurants-section .restaurant-card a {
  text-decoration: none;
  color: #000000;
}
main .restaurants-section .restaurant-card h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin-top: 16px;
  margin-left: 13px;
  margin-bottom: 5px;
}
main .restaurants-section .restaurant-card p {
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  margin-left: 13px;
  margin-bottom: 25px;
}
main .restaurants-section .restaurant-card .restaurant-pic {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
main .restaurants-section .restaurant-card .container-heart {
  position: absolute;
  right: 15px;
  bottom: 35px;
  width: 21px;
  height: 21px;
  z-index: 100;
}
main .restaurants-section .restaurant-card .logo-heart-strokes {
  width: 21px;
  cursor: pointer;
}
main .restaurants-section .restaurant-card .logo-heart-fill {
  cursor: pointer;
  width: 21px;
  display: none;
}
main .restaurants-section .restaurant-card .container-heart:hover .logo-heart-fill {
  display: block;
}
main .restaurants-section .restaurant-card .container-heart:hover .logo-heart-strokes {
  display: none;
}

footer {
  background: #353535;
  padding: 22px 25px;
}
footer .ohmyfood-logo-footer {
  margin-bottom: 16px;
  width: 110px;
}
footer ul {
  list-style-type: none;
}
footer ul li {
  margin-bottom: 7px;
}
footer ul li img {
  width: 13px;
  margin-right: 9px;
}
footer a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}/*# sourceMappingURL=style.css.map */